@font-face {
  font-family: "digital-7";
  src: url("assets/digital-7.ttf");
}

.card-custom {
  width: 300px;
}

input:focus {
  box-shadow: none !important;
}

.font-digital {
  font-family: "digital-7";
  font-size: 5rem;
}
